@font-face {
    font-family: Unbounded;
    src: url('/fonts/Unbounded/Unbounded-VariableFont_wght.ttf');
}
@font-face {
    font-family: Inter;
    src: url('/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    color: #383838;
    font-family: Inter;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {

}


.core-container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
    min-width: 360px;
}

.site-header {
    font-family: Unbounded;
    font-size: clamp(24px, 3vw, 34px);
    font-weight: 700;
    line-height: 115%;
}

.btn-black,
.btn-white {
    cursor: pointer;
    border: none;
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #383838;

    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.btn-white {
    color: #383838;
}











.banner {
    width: 100%;
    display: grid;
}

.banner_img,
.banner_img-mobile {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    width: 100%;
    min-height: 635px;
    object-fit: cover;
}

.banner_img-mobile {
    display: none;
}

.banner_content {
    grid-column: -1 / -1;
    grid-row: -1 / -1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.banner-header {
    font-size: clamp(24px, 3vw, 49px);
    line-height: 110%;
}

.banner_subtitle {
    max-width: 522px;

    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
}

.banner_btn {
    max-width: 311px;
}
























@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

    .banner_img {
        display: none;
    }

    .banner_img-mobile {
        display: block;
        min-height: 100%;
        height: 635px;
    }


}

@media (max-width: 570px) {

    .core-container {
        max-width: 360px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .site-header {
        font-size: 24px;
        line-height: 28px;
    }

    .btn-black,
    .btn-white {
        max-width: 100%;

        font-size: 16px;
    }


    .banner_content {
        gap: 12px;
        padding-top: 71px;
        padding-bottom: 22px;
        display: grid;
        grid-template-rows: max-content 1fr max-content;
    }

    .banner-header {
        line-height: 120%;
    }

    .banner_subtitle {
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
    }



}